#nome{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px ;
}

#form{
    background-color: rgb(240, 227, 185);
}

#habilidades{
    background-color: rgb(240, 227, 185);
}

#idiomas{
    background-color: rgb(240, 227, 185);
}